<div class="thumbnail">
  <img class="menu-item-picture" src="<%= @menu_item.image_url %>" alt="<%= @menu_item.name %>" />
  <div class="caption">
    <p><%= @menu_item.description %></p>
  </div>
</div>